<h3>Register Form</h3>
<form [formGroup]="registerForm" (ngSubmit)="save()">
    <table>
        <tr>
            <td>Username</td>
            <td>
                <input type="text" formControlName="username">
            </td>
            <td>
                <div *ngIf="registerForm.get('username').touched">
                    <div *ngIf="registerForm.hasError('required', ['username'])">
                        This field is required.
                    </div>
                    <div *ngIf="registerForm.hasError('minlength', ['username'])">
                        Please enter at least 3 characters.
                    </div>
                    <div *ngIf="registerForm.hasError('maxlength', ['username'])">
                        Please enter no more than 10 characters.
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" formControlName="password">
            </td>
            <td>
                <div *ngIf="registerForm.get('password').touched">
                    <div *ngIf="registerForm.hasError('required', ['password'])">
                        This field is required.
                    </div>
                    <div *ngIf="registerForm.hasError('pattern', ['password'])">
                        Your password does not meet complexity requirements.
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" formControlName="email">
            </td>
            <td>
                <div *ngIf="registerForm.get('email').touched">
                    <div *ngIf="registerForm.hasError('required', ['email'])">
                        This field is required.
                    </div>
                    <div *ngIf="registerForm.hasError('pattern', ['email'])">
                        Please enter a valid email address.
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Website</td>
            <td>
                <input type="text" formControlName="website">
            </td>
            <td>
                <div *ngIf="registerForm.get('website').touched">
                    <div *ngIf="registerForm.hasError('pattern', ['website'])">
                        Please enter a valid URL.
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Save" [disabled]="registerForm.invalid">
            </td>
        </tr>
    </table>
</form>