<h1> {{title}} </h1>
<h3> Product Info </h3>
<table border="1">
    <tr>
        <th>Id</th>
        <td>{{product.id}}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{product.name}}</td>
    </tr>
    <tr>
        <th>Photo</th>
        <td><img src="/assets/images/{{product.photo}}" width="50" alt="not Shown"></td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{product.price}}</td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td>{{product.quantity}}</td>
    </tr>
    <tr>
        <th>Total</th>
        <td>{{product.price * product.quantity}}</td>
    </tr>
</table>













